---
layout: null
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ page.lang }}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if page.redirect %}<meta http-equiv="refresh" content="0;url={{ page.redirect }}" />{% endif %}
  {% if page.robots %}<meta name="robots" content="{{ page.robots }}" />{% endif %}
  {% seo %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": {{ site.production_url | jsonify }},
    "name": "Henrik Becker Consulting AB",
    "alternateName": "Becker Consulting" 
  }
  </script>
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" sizes="any" />{% for icon_size in site.data['favicon_sizes'] %}
  <link rel="icon" type="image/png" href="{{ '/assets/img/favicon' | append: icon_size | append: 'x' | append: icon_size | append: '.png' | relative_url }}" sizes="{{ icon_size }}x{{ icon_size }}">{% endfor %}
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <link rel="home" href="{{ '/' | absolute_url }}" />
  <link rel="stylesheet" href="{{ '/assets/fontawesome/css/all.min.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
</head>

<body>
  <main>
    {{ content }}
  </main>
  <footer></footer>
</body>

</html>