name: Configure DNS
on:
  push:
    branches: [ master ]
permissions:
  id-token: write
  contents: read
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }} 
          enable-AzPSSession: true 
          
      - name: Deploy Infrastructure
        uses: azure/cli@v2
        with: 
          inlineScript: az deployment sub create \
            --template-file $GITHUB_WORKSPACE/dns.bicep \
            --name 'becker-consulting-infrastructure' \
            --parameters githubAppId='${{ secrets.AZURE_GITHUB_ACTIONS_APP_ID }}' publisherName='Henrik Becker Consulting AB' ownerId='${{ secrets.AZURE_OWNER_ID }}'

      - name: Logout of Azure
        uses: azure/cli@v2
        with: 
          inlineScript: |
            az logout
            az cache purge
            az account clear

                    